

.sidebar-menu-item{
    background-color: #F9F8F5;
    color: #222B24;
    border-radius: 10px;
    cursor: pointer; 
    padding: 14px 20px;
    margin: 8px 25px;
}

.sidebar-menu-item:hover {
    background-color: #EFEEE8;

}

.active {
    background-color: #F2F1EB;
    font-weight: 600;
}

