
.recipe-data {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    gap: 35px;
    width: 100vh;
    overflow-y: auto;

    button {
        background-color: none;
        border-style: none;
        cursor: pointer;
        font-size: 18px;
    }

}