.footer-bar {
  background-color: #F2F1EB;
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
  bottom: 0;
  position: sticky;

  img {
    height: 50px;
    width: 50px;
  }
}



