
.recipe-card {
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 5px 15px 20px 15px;
    margin: 15px;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    border-radius: 10px;
    width: 270px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    img {
        width: 220px;
        height: 150px;
        margin: 0 auto;
    }
    .upper-part-card {
        display: flex;
        justify-content: space-between;
        .low-cal-image {
            width: 60px;
            height: auto;
            margin: 0;
        }
        .delete-button {
            background-color: transparent;
            color: rgb(157, 157, 157); 
            padding-right: 20px;
        }

        .delete-button:hover {
            transform: scale(1.08);
            transition: 500ms;
            color: #4d4d4db0;
        }
    }

    h3 {
        font-size: 20px;
        padding-left: 20px;
    }
    p {
        font-size: 15px;
        padding-left: 20px;
    }
}

.details-button {
    background-color: #88AB8E;
    text-align: center;
    margin-left: 20px;
}

a {
    text-decoration: none;
    color: black;
    animation: normal;
}

a:hover {
    transform: scale(1.02   );
    transition: 200ms;
}

