.container{
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 80vw;

}

 .recipes-container{
    margin-top: 20px;
    margin-right: 15px;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    gap: 10px;
    overflow-y: auto;

    button {
        border-style: none;
        cursor: pointer;
        font-size: 18px;
    }

.form-container {
  right: 0;
  display: flex;
  flex-direction: column;
}

}