.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #F2F1EB;
}

.navbar-image {
    width: 50px;
    height: auto;
    border-radius: 50%;
    margin-left: auto;
}

.app-logo {
    width: 100px;
}

.navbar-links {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}

.navbar-links a:hover {
    color: #4CAF50;
}

.burger-menu {
    font-size: 1.5rem;
    cursor: pointer;}


@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .navbar-links.open {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #8fa98d;
        padding: 1rem;
    }

    .navbar-links li {
        padding: 0.5rem 0;
        text-align: center;
    }
}
